h1, h2, h3, h4, h5, p, a, ul, ol{
  margin: 0;
  padding: 0;
}
html{
  font-size: 100%;
}
h1{
  text-align: center;
  margin-bottom: 10px;
  color: #4CE0B3;
  font-variant: small-caps;
  font-size: 28px;
  animation: fadeInDown .4s ease-in-out;
}
h2{
  padding: 15px 10px;
  text-align: center;
  color: #4CE0B3;
  font-size:26px;
  font-variant: small-caps;
  background: rgba(255,255,255,10); /*rgba(146, 147, 147, .8)*/
  animation: fadeInOnly .5s ease-in-out;
  box-shadow: 0 3px 2px rgba(0,0,0,.1);
  -webkit-animation: fadeInOnly .8s linear ease-in-out;
}
h3{
  font-size: 25px;
  text-align: center;
  padding: 15px 10px;
  color: #4CE0B3;/*rgba(75,75,75,.8)*/
  background: #FFF;
  font-weight: 600;
  font-variant: small-caps;
  border-bottom: 1px solid rgba(146,147,147,.2);
}
h4{
  font-variant: small-caps;
  font-weight: 200;
  color: #4CE0B3;
  font-weight: bold;
}
h5{
  font-size: 13px;
  color: #616161;
}
h7{
  font-size: 12px;
}
a{
  cursor: pointer;
}
body{
  font-family: 'Hind Siliguri', sans-serif;
  background: #254E70 url('images/memphis.png');
  height: 100%;
  background-size: cover;
  width: 100%;
  font-size: 15px;
  line-height: 1.5em;
}
.card{
  position: relative;
  width: 30%;
  height: auto;
  /*border: 1px solid #CCC;*/
  box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.23);
  margin: 20px auto;
  background: #edeff0;
  opacity: 0.95;
}
.top{
  padding-bottom: 200px;
}
.img-container img{
  width: 150px;
  left: 115px;
  top:50px;
  position: relative;
  overflow: hidden;
  padding: 5px;
  background: white;
  border-radius: 50%;
  animation: fadeInOnly .8s ease-in-out;
}
@keyframes fadeInOnly{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-webkit-keyframes fadeInOnly{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-moz-keyframes fadeInOnly{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-o-keyframes fadeInOnly{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.img-rounded img{
  position: relative;
  border-radius: 50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border: 1px solid rgba(203,202,202,.2);
  top:20px;
  left: 0;
  width: 100px;
  height: 100px;
  z-index: 10;
  margin-left: 120px;
  animation: fadeIn .8s ease-in-out;
  margin-bottom: 20px;
  background: rgba(0,0,0,.10);
}
.description{
  padding: 15px;
  position: absolute;
  line-height: 1.6em;
  top:260px;
      /*background: rgba(255,255,255,.9);
      top:380px;*/
      width: 100%;
    }
    .description p{
      animation: fadeInDown .6s ease-in-out;
      font-size: 15px;
      color: #888;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0,0,0,.020);
    }
    @-webkit-keyframes fadeInDown {
      from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }

      to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
    @keyframes fadeInDown {
      from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -o-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }

      to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
    .list li{
      list-style: none;
      background: rgba(255,255,255,10);
      display: block;
      border-bottom: 1px solid rgba(75,75,75,.080);
      font-size: 17px;
    }
    .list li a{
      display: block;
      text-decoration: none;
      padding: 15px 10px;
      color: #888;
      font-variant: small-caps;
      font-weight: 500;
      text-shadow: 0 1px 2px rgba(75, 75, 75, .1);
    }
    .list li a i{
      color:#4CE0B3;
      padding-right:5px;
    }
    .list li:first-child{
      animation: slideInLeft .2s ease-in-out;
    }
    .list li:nth-child(2){
      animation: slideInLeft .4s ease-in-out;
    }
    .list li:nth-child(3){
      animation: slideInLeft .6s ease-in-out;
    }
    .list li:nth-child(4){
      animation: slideInLeft .8s ease-in-out;
    }
    .list li:last-child{
      animation: slideInLeft 1s ease-in-out;
      border: 0;
    }
    /*.list li:nth-child(2n+1){
      background: #FAFAFA;
      }*/
      .list li a:hover{
        background: rgba(0,0,0,.4);
        color: #FFF !important;
      }
      .list li span i{
        display: block;
      }
      @keyframes slideInLeft {
        from {
          -webkit-transform: translate3d(-25%, 0, 0);
          transform: translate3d(-25%, 0, 0);
          visibility: visible;
        }

        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }

      @-webkit-keyframes slideInLeft{
       from {
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0);
        visibility: visible;
      }

      to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
    @-moz-keyframes slideInLeft{
     from {
      -webkit-transform: translate3d(-25%, 0, 0);
      transform: translate3d(-25%, 0, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @-o-keyframes slideInLeft{
   from {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.list-content{
  background: #F5F5F5;
  position: absolute;
  width: 100%;
  top:0;
  bottom: 0;
  height: auto;
  z-index: 10;
  display: none;
  animation: fadeIn .5s ease-in-out;
  overflow: scroll;
  overflow-x:hidden;
}
.list-border li{
  text-align: left;
  padding: 10px;
  list-style: none;
  padding: 10px;
  padding-bottom: 10px;
  color: #616161;
  margin: 10px 15px 10px 15px;
  background: #FFF;
  border: 1px solid rgba(203,202,202,.4);
  border-radius: 4px;
  animation: fadeInUp .8s ease-in-out;
}
.list-border i{
  margin-right: 5px;
}
.list-border img{
  width: 150px;
  margin-left: 93px;
  margin-bottom: 16px;
}
.list-border span{
  font-size: 14px;
}

@keyframes fadeIn{
  from{
    opacity: 0;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  to{
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn{
  from{
    opacity: 0;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  to{
    opacity: 1;
  }
}
@-moz-keyframes fadeIn{
  from{
    opacity: 0;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  to{
    opacity: 1;
  }
}
@-o-keyframes fadeIn{
  from{
    opacity: 0;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  to{
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp{
 from {
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}

to {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
}
@-moz-keyframes fadeInUp{
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-o-keyframes fadeInUp{
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.profil ul{
  margin-top: 20px;
}
.profil li strong{
  color: #4CE0B3;
  font-weight: lighter;
}
.profil p{
  margin: 10px;
  padding: 10px;
  color: #777;
}
.formation p{
  padding: 10px;
  margin: 10px;
  color: #888;
}
.formation li a{
  text-decoration: none;
}
.formation li span{
  color: rgba(75,75,75,.8);
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: #EEE;
}
::-webkit-scrollbar-thumb{
  background: #000;
}
::-webkit-scrollbar-button{
  background: #CCC;
}
::-webkit-scrollbar-corner{
  background: #EEE;
}
.expro p{
  padding: 10px;
  margin: 10px;
}
.competence p{
  padding: 10px;
  margin: 10px;
}
.btn-close{
  font-size: 20px;
  position: absolute;
  top:10px;
  left:5px;
  cursor: pointer;
  text-align: center;
      /*background: #92C7C7;
      border-radius: 50%;*/
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      line-height: 35px;
      width: 35px;
      height: 35px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }
    a.btn-close i{
      color: rgba(0, 0, 0, .4);
    }
    .btn-close:hover{
      animation: fa-spin-fast .5s ease-in-out;
      -moz-animation:fa-spin-fast .5s ease-in-out;
      -webkit-animation: fa-spin-fast .5s ease-in-out;
    }
    @-webkit-keyframes fa-spin-fast {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
      }
    }
    @keyframes fa-spin-fast{
     0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  @-moz-keyframes fa-spin-fast{
   0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes fa-spin-fast{
 0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(359deg);
  transform: rotate(359deg);
}
}
.fa-lg{
  font-size: 50px;
  color: #878;
}
.fa-times{
  color: #888;
}
.gallery li{
  margin: 10px 10px 10px 15px;
}
.quotes p{
  color: rgba(203,202,202,.8);
  padding: 10px;
  margin: 10px 10px 0 10px;
  animation: fadeInUp .8s ease-in-out;
}
/*************************BUTTON**********************************/
.button{
 background-color: #bfbfbf;
 padding: 10px;
 margin-top: 10px;
 color: white;
 border-radius: 50%;
 height: 40px;
 width: 40px;
 border-style: none;
 transition: all 0.4s ease;
}
.button:hover {
 background-color:#4CE0B3;
}
.social-button {
  color: #888;
  font-size: 20px;
  text-decoration: none;
}
.social-button:hover {
  color: #254E70;
}
#logo-wagon{
  width: 80px;
  margin-left: 140px;
}
#logo-kedge{
  width: 140px;
  margin-left: 110px;
}
/************************** GRAPH ************************/
/* Mixings &  Variables */
@barHeight: 20px;
@borders: #717D95;
@primary: #4CE0B3;

.transition (@property) {
  -webkit-transition: @property;
  -moz-transition: @property;
  -o-transition: @property;
  transition: @property
}
.graph li{
 background-color: #edeff0;
}

.transform(@degree) {
  transform:rotate(@degree);
  -ms-transform:rotate(@degree);
  -webkit-transform:rotate(@degree);
}

.clearfix,
.clearfix:before,
.clearfix:after {
 display: block;
 content: " ";
 clear: both;
 zoom: 1;
}

/* Resets */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Bar Graph Class */

.barGraph {
  position: relative;
  width: 100%;
  height: auto;
}

.graph {
  @indent: 4%;
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: calc(100% - @indent);
  left: @indent;

  &-barBack {
    border-radius: 2px;
    background: #DAE4EB;
    margin-bottom: 10px;
    display: block;
  }

  &-bar {
    background-color: @primary;
    .transition(all 1s ease-out);
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    z-index: 9999;
    display: block;
    height: 20px;
    width: 0%;

    &:hover {
      .transition(all 0.5s ease);
      background: #428D92;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:after {
      position: absolute;
      content: attr(data-value);
      display: none;

      font-size: 12px;
      border-radius: 4px;
      background: rgba(0,0,0,0.5);
      color: #fff;

      line-height: @barHeight;
      height: @barHeight;
      padding: 0 10px;

      margin-left: 5px;
      left: 100%;
      top: 0;
    }

    &:hover:after {
      display: block;
    }
  }

  &-legend {
    position: absolute;
    margin-right: 10px;
    left: -40px ;
    z-index: 9999;
  }
}


/* Bubble Chart */
.chart {
  border-radius: 3px;
  border: 2px solid fade(@borders, 45%);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;

  &-bubble {
    overflow: hidden;
    background-color: @primary;
    .transition(all 1s ease-out);
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    min-height: 10px;
    min-width: 10px;
    z-index: 999;
    bottom: 0;
    left: 0;

    &:hover {
      .transition(all 0.5s ease);
      background: #428D92;
    }

    &:after {
      position: absolute;
      content: attr(data-label);
      display: none;
      width: 100%;
      height: 100%;

      text-align: center;
      padding-top: 50%;
      line-height: 1px;
      font-size: 15px;
      color: #fff;
    }

    &:hover:after {
      display: block;
    }
  }
}

/* Lines for Charts */

.lines {
  @bars: fade(@borders, 40%);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  left: 0;
  top: 0;

  &-horz {
    border-bottom: 1px dashed @bars;
    position: absolute;
    width: 100%;
    height: 0px;

    &:nth-of-type(1) { top: 20%; }
    &:nth-of-type(2) { top: 40%; }
    &:nth-of-type(3) { top: 60%; }
    &:nth-of-type(4) { top: 80%; }
  }

  &-vert {
    border-right: 1px dashed @bars;
    position: absolute;
    height: 100%;
    width: 1px;

    &:nth-of-type(5) { left: 20%; }
    &:nth-of-type(6) { left: 40%; }
    &:nth-of-type(7) { left: 60%; }
    &:nth-of-type(8) { left: 80%; }
  }
}


/* Line Graph */
.lineChart {
  .transition(all 0.5s ease);
  border-radius: 3px;
  border: 2px solid fade(@borders, 45%);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;

  svg {
    position: absolute;
    z-index: 999;
  }

  circle {
    .transition(all 0.5s ease);
    position: relative;
    cursor: pointer;
    stroke: @primary;
    stroke-width: 3;
    fill: @primary;

    &:hover {
      stroke-width: 8;
    }
  }

  line {
    stroke: @borders;
    stroke-width: 4;
  }

  &-lines {}

  &-points {}
}

.trend line {
  stroke: rgba(204, 51, 51, 0.8);
}
/***************************** STAT CIRCLE **********************/
/* General */


/* Stats */
.stats-container {
  width: 100%;
  max-width: 560px;
  margin: 30px auto;
}

.stat-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 33.33%;
  padding: 2%;
}

.stat-item img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.stat-item img{
  margin-bottom: 0px;
  margin-left: 0px;
}

.stat-path,
.stat-back {
  stroke-linecap: round;
  stroke-width: 5;
  fill: none;
}

@media only screen and (max-width: 580px) {
  .stat-item {
    width: 50%;
  }
}

/* Tooltip */
.tooltip .tooltiptext {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  border-radius: 10px;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 6px 12px;
  background: #edeff0;
  font-size: 10px;
  color: #616161;
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  z-index: 1;
}

.tooltip .tooltiptext span {
  display: block;
  color: #ffffff;
}

.tooltip .tooltiptext:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent currentColor transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/**/
.tooltip .tooltiptext-home {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 5px;
  position: absolute;
  border-radius: 10px;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 6px 12px;
  background: #edeff0;
  font-size: 10px;
  color: #616161;
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  z-index: 1;
}

.tooltip .tooltiptext-home span {
  display: block;
  color: #ffffff;
}

.tooltip .tooltiptext-home:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent currentColor transparent;
}

.tooltip:hover .tooltiptext-home {
  visibility: visible;
}
/********************LOGO*********************************/
.logo-image img{
  width: 40px;
  margin-left: 33px;
  margin-top: 34px;
  opacity: 0.9;
}
.stat-back{
  opacity: 0.6;
}
.logo-salesforce img{
  width: 54px;
  margin-left: 27px;
  margin-top: 36px;
  opacity: 0.9;
}
.logo-ruby img{
  width: 35px;
  margin-left: 30px;
  margin-top: 30px;
  opacity: 0.8;
}
.logo-ruby-rails img{
  width: 40px;
  margin-left: 32px;
  margin-top: 30px;
  opacity: 0.8;
}
.logo-github img{
  width: 55px;
  margin-left: 27px;
  margin-top: 31px;
  opacity: 0.8;
}
.logo-java img{
  width: 31px;
  margin-left: 37px;
  margin-top: 30px;
  opacity: 0.8;
}
.image-interet img{
  width: 80px;
  margin-left: 145px;
}
.interet-content{
 text-align: center;
}
/**********************TEXT ANIMATION ****************************/
.image-project-pro img{
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  margin-left: 140px;
}
.a-competence{
  text-decoration: none;
  color: #616161;
  font-weight: lighter;
  margin-left: 120px;
}
.a-competence:hover{
  text-decoration: none;
  color: #4CE0B3;
}
.a-profil {
  text-decoration: none;
}
.a-profil:hover {
  text-decoration: none;
  color: #4CE0B3;
}
.logo-kickstarter img{
  width: 90px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.formation-content {
 text-align: center;
}
.level-language span{
  color: #4c4c4c;
}
.font-home{
  font-size:20px;
}
